.search-container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    height: 5%;
}

.search-input {
    width: 20vw;
    min-width: 200px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
}