.party-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    
    height: 45%;
}

/* =========================== MEDIA QUERIES ============================  */

@media screen and ( max-width: 1024px ) {
    .party-cards-container {
        height: 90%;
        gap: 5%;
    }
}

@media screen and ( max-width: 600px ) {
    .party-cards-container {
        height: 140%;
        margin-top: 20px;
    }
}