.player-data-row {
    display: flex;
    flex-shrink: 0;

    position: relative;
    
    width: 100%;
    height: calc(100% / 6);

    border-bottom: 1px solid #9B6694;
}

.player-data-row:last-child {
    border-bottom: none;
}

.player-data-cell-container {
    display: flex;
    align-items: center;
}

.player-data-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    width: 100%;
}

/* =========================== MEDIA QUERIES ============================  */

@media screen and ( max-width: 1200px ) {
    .player-dpm-column {
        display: none;
    }
}

@media screen and ( max-width: 600px ) {
    
}