.hover-options-container {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.hover-options-container:hover {
    background-color: rgba(155, 102, 148, 0.2); /* #9B6694 */
}

.hover-options {
    
}

/* =========================== MEDIA QUERIES ============================  */
