.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
}

.dream-logo {
    width: 40vw;
}

.expedition-planner-logo {
    width: 45vw;
}