.footer-container {
    display: flex;
    align-items: flex-end;
    height: 3%;
}

.footer-text {
    font-family: 'Poppins', sans-serif;
    color: #9B6694;
    font-weight: 500;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */

/* @media screen and (max-width: 1024px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
/* 
@media screen and (max-width: 600px) { 
    .container.contact_container {
        width: var(--container-width-sm);
    }
} */